Pandas Library:

Useful for Data Processing & Analysis

Pandas Data Frame:

Pandas DataFrame is two-dimensional tabular data structure with labeled axes (rows and columns).

Creaating a Pandas DataFrame

In [7]:
# importing the pandas library
import pandas as pd
import numpy as np

Creaating a Pandas DataFrame

In [8]:
from sklearn.datasets import fetch_openml
housing = fetch_openml(name="house_prices", as_frame=True)

C:\Users\surya\AppData\Local\anaconda3\lib\site-packages\sklearn\datasets\_openml.py:932: FutureWarning: The default value of `parser` will change from `'liac-arff'` to `'auto'` in 1.4. You can set `parser='auto'` to silence this warning. Therefore, an `ImportError` will be raised from 1.4 if the dataset is dense and pandas is not installed. Note that the pandas parser may return different data types. See the Notes Section in fetch_openml's API doc for details.
  "Neither name nor data_id are provided. Please provide name or data_id."

In [ ]:
# importing the boston house price data
from sklearn.datasets import load_boston

In [ ]:
boston_dataset = load_boston()

In [ ]:
type(boston_dataset)

In [ ]:
print(boston_dataset)

In [ ]:
# pandas DataFrame
boston_df = pd.DataFrame(boston_dataset.data, columns = boston_dataset.feature_names)

In [ ]:
boston_df.head()

In [ ]:
boston_df.shape

In [ ]:
type(boston_df)

Importing the data from a CSV file to a pandas DataFrame

In [10]:

# csv file to pandas df
diabetes_df = pd.read_csv('diabetes.csv')

In [11]:
type(diabetes_df)

pandas.core.frame.DataFrame

In [12]:
diabetes_df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [13]:

diabetes_df.shape

(768, 9)

Loading the data from a excel file to a Pandas DataFrame:

pd.read_excel('file path')

Exporting a DataFrame to a csv file

In [ ]:
boston_df.to_csv('boston.csv')

Exporting the Pandas DataFrame to an excel File:

df.to_excel('filename')

In [14]:

# creating a DatFrame with random values
random_df = pd.DataFrame(np.random.rand(20,10))

In [15]:

random_df.head()

,0,1,2,3,4,5,6,7,8,9
0,0.979936,0.879369,0.487944,0.172098,0.117258,0.035237,0.487831,0.994092,0.629506,0.225953
1,0.818434,0.760150,0.066285,0.087090,0.647328,0.312065,0.497972,0.443478,0.988053,0.646077
2,0.945186,0.014864,0.886823,0.498084,0.035318,0.372293,0.504828,0.907843,0.540229,0.018217
3,0.953718,0.335618,0.044044,0.690971,0.661559,0.879266,0.844763,0.932650,0.772891,0.013200
4,0.068029,0.905166,0.689260,0.906339,0.908615,0.952749,0.479187,0.421658,0.146761,0.853991

In [16]:
random_df.shape

(20, 10)

Inspecting a DataFrame

In [ ]:
#finding the number of rows & columns
boston_df.shape

In [ ]:
# first 5 rows in a DataFrame
boston_df.head()

In [ ]:
# last 5 rows of the DataFrame
boston_df.tail()

In [ ]:
# informations about the DataFrame
boston_df.info()

In [ ]:
# finding the number of missing values
boston_df.isnull().sum()

In [17]:
# diabetes dataframe
diabetes_df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [18]:
# counting the values based on the labels
diabetes_df.value_counts('Outcome')

Outcome
0    500
1    268
dtype: int64

In [19]:

# group the values based on the mean
diabetes_df.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

Statistical Measures

In [ ]:
# count or number of values
boston_df.count()

In [20]:
diabetes_df.count()

Pregnancies                 768
Glucose                     768
BloodPressure               768
SkinThickness               768
Insulin                     768
BMI                         768
DiabetesPedigreeFunction    768
Age                         768
Outcome                     768
dtype: int64

In [ ]:
# mean value - column wise
boston_df.mean()

In [21]:
diabetes_df.mean()

Pregnancies                   3.845052
Glucose                     120.894531
BloodPressure                69.105469
SkinThickness                20.536458
Insulin                      79.799479
BMI                          31.992578
DiabetesPedigreeFunction      0.471876
Age                          33.240885
Outcome                       0.348958
dtype: float64

In [ ]:
# standard deviation - column wise
boston_df.std()

In [22]:
diabetes_df.std()

Pregnancies                   3.369578
Glucose                      31.972618
BloodPressure                19.355807
SkinThickness                15.952218
Insulin                     115.244002
BMI                           7.884160
DiabetesPedigreeFunction      0.331329
Age                          11.760232
Outcome                       0.476951
dtype: float64

In [ ]:
# minimum value
boston_df.min()

In [23]:
# minimum value
diabetes_df.min()

Pregnancies                  0.000
Glucose                      0.000
BloodPressure                0.000
SkinThickness                0.000
Insulin                      0.000
BMI                          0.000
DiabetesPedigreeFunction     0.078
Age                         21.000
Outcome                      0.000
dtype: float64

In [ ]:
# maximum value
boston_df.max()

In [25]:
diabetes_df.max()

Pregnancies                  17.00
Glucose                     199.00
BloodPressure               122.00
SkinThickness                99.00
Insulin                     846.00
BMI                          67.10
DiabetesPedigreeFunction      2.42
Age                          81.00
Outcome                       1.00
dtype: float64

In [ ]:
# all the statistical measures about the dataframe
boston_df.describe()

In [26]:
diabetes_df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

Manipulating a DataFrame

In [ ]:
# adding a column to a dataframe
boston_df['Price'] = boston_dataset.target

In [28]:
diabetes_df['Glucose']=diabetes_df.target

AttributeError: 'DataFrame' object has no attribute 'target'

In [ ]:
boston_df.head()

In [ ]:
# removing a row
boston_df.drop(index=0, axis=0)

In [ ]:
# drop a column
boston_df.drop(columns='ZN', axis=1)

In [29]:
# locating a row using the index value
diabetes_df.iloc[2]

Pregnancies                   8.000
Glucose                     183.000
BloodPressure                64.000
SkinThickness                 0.000
Insulin                       0.000
BMI                          23.300
DiabetesPedigreeFunction      0.672
Age                          32.000
Outcome                       1.000
Name: 2, dtype: float64

In [30]:
# locating a particular column
print(diabetes_df.iloc[:,0])  # first column
print(diabetes_df.iloc[:,1])  # second column
print(diabetes_df.iloc[:,2])  # third column
print(diabetes_df.iloc[:,-1]) # last column

0       6
1       1
2       8
3       1
4       0
       ..
763    10
764     2
765     5
766     1
767     1
Name: Pregnancies, Length: 768, dtype: int64
0      148
1       85
2      183
3       89
4      137
      ...
763    101
764    122
765    121
766    126
767     93
Name: Glucose, Length: 768, dtype: int64
0      72
1      66
2      64
3      66
4      40
       ..
763    76
764    70
765    72
766    60
767    70
Name: BloodPressure, Length: 768, dtype: int64
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

Correlation:

Positive Correlation
Negative Correlation

In [31]:
diabetes_df.corr()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
Pregnancies,1.000000,0.129459,0.141282,-0.081672,-0.073535,0.017683,-0.033523,0.544341,0.221898
Glucose,0.129459,1.000000,0.152590,0.057328,0.331357,0.221071,0.137337,0.263514,0.466581
BloodPressure,0.141282,0.152590,1.000000,0.207371,0.088933,0.281805,0.041265,0.239528,0.065068
SkinThickness,-0.081672,0.057328,0.207371,1.000000,0.436783,0.392573,0.183928,-0.113970,0.074752
Insulin,-0.073535,0.331357,0.088933,0.436783,1.000000,0.197859,0.185071,-0.042163,0.130548
BMI,0.017683,0.221071,0.281805,0.392573,0.197859,1.000000,0.140647,0.036242,0.292695
DiabetesPedigreeFunction,-0.033523,0.137337,0.041265,0.183928,0.185071,0.140647,1.000000,0.033561,0.173844
Age,0.544341,0.263514,0.239528,-0.113970,-0.042163,0.036242,0.033561,1.000000,0.238356
Outcome,0.221898,0.466581,0.065068,0.074752,0.130548,0.292695,0.173844,0.238356,1.000000